<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<head>
<meta charset="utf-8">
<title>Visualizar Jogos</title>
</head>
<body>

	<div class="container mt-3">
		<h3>Cadastro de Jogos</h3>
		<table class="table table-bordered table-sm">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Preço</th>
					<th>Categoria</th>
					<th>Plataforma</th>
					<th>Multiplayer</th>
					<th>Avaliação</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="games : ${listarGames}">
					<td th:text="${games.getNome()}">Nome</td>
					<td th:text="${games.getPreco()}">>Preço</td>
					<td th:text="${games.getCategoria()}">>Categoria</td>
					<td th:text="${games.getPlataforma()}">>Plataforma</td>
					<td th:text="${games.getMultiplayer()}">>Multiplayer</td>
					<td th:text="${games.getAvaliacao()}">>Avaliação</td>
					
				</tr>

			</tbody>
		</table>
	</div>
</body>
</html>